* {
    font-family: sans-serif;
}

body {
    margin: 0;
}

/*Parte incial - Banner*/

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.logo{
    padding: 10px;
    max-width: 600px;
    width: 90%;
    box-sizing: border-box;
    text-align: center;
}

.imagem-fundo {
    width: 100%;
    margin-top: 40px;
    padding:  120px 80px;
    background-size: cover;
    box-sizing: border-box;
    position: relative;
}

.container2 {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    border-radius: 10px;
    padding: 40px;
    margin: 20px auto;
    background-color: #ffffffc4;
    box-shadow: 0 8px 32px  #1f26875e;

}

.container2 p {
    font-size: 60px;
    color: #30B27F;
    text-align: center;
    font-weight: 800;
    margin: 0 0 20px 0;
}

.fale {
    width: 200px;
    padding: 10px 25px;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #30B27F;
    font-size: 20px;
    text-align: center;
}

.fale a {
    color: #fff;
    text-decoration: none;
}

.fale img {
    width: 8%;
}

/*Seção Serviços*/

.secao-servicos {
    width: 100%;
    margin-bottom: 45px;
}

.secao-servicos h3 {
    font-size: 36px;
    color: #30B27F;
    text-align: center;
    margin: 0 0;
    margin-bottom: 45px;
}

.secao-servicos li {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: #024053;
}

.secao-servicos ul {
    font-size: 20px;
    margin-bottom: 20px;
    margin: 0 0;
}

.secao-servicos b {
    font-style: italic;
}

.imgservicos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.secao-servicos img {
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 6px 10px 6px #0000005c;
}

/*Redes Sociais*/

.redes-sociais, .redes-sociais2 {
    padding:  60px;
    background-color: #30B27F;
    align-items: center;
}

.redes-sociais p, .redes-sociais2 p {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    font-size: 40px;
    color: #fff;
    text-align: center;
}

.redes-sociais span, .redes-sociais2 span {
    font-weight: 700;
    font-style: italic  ;
}

.redes-sociais img, .redes-sociais2 img{
    margin: 20px;
    width: 50px;
    height: 50px;
}

.sociaisimg {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.sociaisimg a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Config marcas*/

.marcas {
    width: 100%;
    padding:  0;
    text-align: center;
    margin-bottom: 45px;
}

.marcas h3 {
    text-align: center;
    color: #30B27F;
    font-size: 36px;
    margin-bottom: 45px;
}

.marcas img {
    max-width: 200px;
    margin: 0 auto;
}

.marcas1 img, .marcas2 img, .marcas3 img, .marcas4 img {
    width: 148px;
    height: 148px;
    margin: 0 15px;
}

/*Localização*/

.ondeestamos {
    width: 100%;
    padding:  0;
    text-align: center;
}

.ondeestamos h3 {
    margin-bottom: 45px;
    font-size: 36px;
    color: #30B27F;
}

.ondeestamos p {
    font-size: 20px;
    color: #024053;
    margin: 0 auto;
    margin-bottom: 45px;
}

iframe {
    width: 800px;
    height: 450px;
    margin-bottom: 45px;
}

/*Footer*/

.rodape {
    width: 100%;
    padding: 10px 0;
    background-color: #30B27F;
} 

.rodape h1 {
    color: #fff;
    font-size: 12px;
    text-align: center;
}

/*Configuração de tela - Tablet/Celular*/

@media screen and (max-width: 1200px) {
    .container2 {
        max-width: 90%;
        padding: 20px;
        top: 25%;
    }

    .container2 p {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .secao-servicos {
        width: 100%;
    }

    .secao-servicos ul {
        font-size: 20px;
        margin-bottom: 20px;
        margin: 15px;
        padding: 19px;
        
    }

    .ondeestamos p {
        margin: 5px;
    }
    
    iframe {
        width: 350px;
        height: 225px;
        margin-bottom: 45px;
    }
}